.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(gray, .5);
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #3498db;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
        position: absolute;
        top: 45%;
        left: 45%;
        // transform: translate(-50%, -50%);
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}