.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/banner.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}


