.shop-cart-wrapper {
  position: relative;
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 100%;

  &.show-badge {
    .shop-cart-badge, .shop-cart-sum {
      display: block;
    }
  }

  .fa-cart-icon {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  svg {
    width: 25px;
    height: 25px;
  }

  .shop-cart-badge {
    position: absolute;
    display: none;
    background: red;
    border-radius: 50%;
    padding: 0 5px;
    bottom: 0;
    color: white;
    right: 3px;
    line-height: 20px;
  }

  .shop-cart-sum {
    position: absolute;
    display: none;
    width: 450px;
    right: 0;
    top: calc(100% + 20px);
    height: 370px;
    background: white;
    box-shadow: 3px 3px 8px 0px #00000085;
    border-radius: 8px;
    padding: 15px;
    z-index: 100;
    color: black;

    .items-wrapper {
      height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .order-btn-wrapper {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;

      &:hover {
        fill: red;
        transition: all 0.2s linear;
      }
    }

    .remove-icon-wrapper {
      align-items: center;
      display: flex;
      padding: 0;
    }
  }
}

