.stats-numbers-wrapper{
  background-color: #7782ee;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
  h3{
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
  }
  *{
    color: #fff;
  }
}