header {
  
  nav {

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      li {
        list-style-type: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 20px;
        margin: 10px 0;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}


.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    /* background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px; */
    border: none;

    a {

      svg {
        display: inline;
      }
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    & a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}