@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.contact-form {
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #333;
    margin-bottom: 25px;
  }
  label {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    color: #222;
    padding: 10px 0;
  }
  .btn {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 35px;
  }
}
.successMessage {
    color: #fff;
    margin-bottom: 1rem;
    background: #3db13d;
    padding: 10px;
    border-radius: 5px
}

.errorMessage {
    color: #fff;
    margin-bottom: 1rem;
    background: tomato;
    padding: 10px;
    border-radius: 5px;
}
.hidden {
    display: none;
}