@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.section-header {
  margin-bottom: 70px;
  h3 {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 0;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 25px;
  }
  p {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: #ababab;
  }
}

.contact-info {
  position: relative;
  padding-left: 50px;
  margin-bottom: 42px;

  span {
    color: #1daaa3;
    font-size: 35px;
    position: absolute;
    top: -10px;
    left: 0;
  }
  p {
    color: #9c9c9c;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 22px;
    margin-bottom: 0;

    a {
      color: #9c9c9c;
      text-decoration: none;
    }
  }
}
