@import '../../assets/scss/variable.scss';
input[type="radio"]{
  display: none;
}

.shop-ad-wrapper {
  display: grid;

  
  .shop-ad-content-wrapper {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 1px 3px 9px rgb(0 0 0 / 50%);
    background-color: #fff;
    img,p {
      padding: 0 10px;
    }

    .img {
      height: 60%;
      object-fit: contain;
    }
    .shop-ad-title {
      font-weight: bold;
      margin-top: 20px;
    }
    .rate-product{
      display: flex;
      justify-content: center;
      align-items: center;
    padding: 5px 10px;
    background-color: $secondFontColor ;
    color: $firstFontColor;
    border-radius: 10px;
    border: 1px solid $firstFontColor;

    }
    .shop-ad-price {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 30px;
      margin-bottom: 0;
    }
    .view-more-btn {
      display: none;
      color: #000;
      border: 3px solid black;
      background-color: #fff;
      cursor: pointer;

      text-decoration: none;
      .view-more-btn-text {
        //color: #fff;
        padding: 10px 30px;
        height: auto;
        margin-bottom: 0;
      }

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
    &:hover {
      .shop-ad-price {
        display: none;
      }
      .view-more-btn {
        display: block;
      }
    }
  }
}

