.categories-wrapper {
  .btn-sm {
    border: none;
    flex: 1;
    max-width: 100px;

    &:hover {
      border: none;
    }
  }

  .action-btn {
    display: flex;
    justify-content: space-around;
    min-width: 150px;
  }

  .add-category {
    button {
      flex: 1;
    }
  }

}