.main-wrapper {
  height: 100%;
  background-color: #f3f3f3;
}

.btn {
  background-color: #1daaa3;
  border-radius: 0;
  border: 1px solid #1daaa3;
  color: #fff;
  padding: 10px 20px;

  &:hover {
    background-color: #fff;
    border: 1px solid #1daaa3;
    color: #1daaa3;
  }

  &:focus {
    background-color: #1daaa3;
    border: 1px solid #1daaa3;
    box-shadow: 0 0 0 0.25rem rgb(29 170 163 / 50%);
  }
}

// * LOADER
.loader {
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #1daaa3;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}